copy_on_select true
copy_command "pbcopy"

keybinds {
  locked {
        bind "Alt g"             { SwitchToMode "Locked" ; }
        bind "Alt q"             { Quit ; }
        bind "Alt h" "Alt Left"  { MoveFocusOrTab "Left" ; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right" ; }
        bind "Alt j" "Alt Down"  { MoveFocus "Down" ; }
        bind "Alt k" "Alt Up"    { MoveFocus "Up" ; }
        bind "Alt ["             { PreviousSwapLayout ; }
        bind "Alt ]"             { NextSwapLayout ; }
        bind "Alt n"             { NewPane; }
        bind "Alt i"             { Resize "Increase" ; }
        bind "Alt d"             { Resize "Decrease" ; }
        bind "Alt f"             { ToggleFloatingPanes; }
    }
}
